@charset "UTF-8";

    body {
      background-color: rgb(219, 197, 240); 
      font-size:medium; 
      font-family: 'Times New Roman', Times, serif;
    }

    h1{
        color: rgb(0, 0, 0);
        background-color: rgb(179, 112, 241);
        font-size: 30px;
    }

    h2 {
        color: indigo;
        font-size: 25px;
    }

    p {
        color: black;
        text-align: justify;
    }
